build/
devel/
install/
log/
.agents/
.codex/
.cache/
.pytest_cache/
.catkin_tools/
catkin_ws/build/
catkin_ws/devel/
catkin_ws/install/
catkin_ws/log/
**/node_modules/
**/web/dist/
__pycache__/
*.py[cod]
*.bag
*.bag.active
*.pcd
*.log
*.tar
*.tar.gz
*.tgz
*.zip
docker/runtime/bags/*
!docker/runtime/bags/.gitkeep
