<?xml version="1.0"?>
<launch>
  <arg name="config" default="$(find target_localizer)/config/target_localizer.yaml"/>

  <node pkg="target_localizer"
        type="target_localizer_node"
        name="target_localizer_node"
        output="screen">
    <rosparam file="$(arg config)" command="load"/>
  </node>

  <node pkg="target_localizer"
        type="equipment_state_node"
        name="equipment_state_node"
        output="screen">
    <rosparam file="$(arg config)" command="load"/>
  </node>

  <node pkg="target_localizer"
        type="modbus_sensor_reference_node"
        name="modbus_sensor_reference_node"
        output="screen">
    <rosparam file="$(arg config)" command="load"/>
  </node>
</launch>
